<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GitHub Search</title>
		<link rel="stylesheet" href="css/main.css" />
		<script src="https://unpkg.com/vue@3"></script>
	</head>

	<body>
		<div id="app">
			<!-- Favorites -->
			<div class="favorites">
				<div class="favorite" v-for="favorite in allFavorites">
					<a @click.prevent="showFavorite(favorite)" href="#" target="_blank">
						<img
							:src="favorite.avatar_url"
							:alt="favorite.name"
							class="favorite__avatar"
						/>
					</a>
				</div>
			</div>

			<!-- Content -->
			<article class="content">
				<h1 class="content__title">Search GitHub Users</h1>

				<!-- Search -->
				<form class="search" @submit.prevent="doSearch">
					<input
						v-model="search"
						type="text"
						class="search__input"
						required
						placeholder="Search GitHub Users"
					/>
					<input type="submit" class="search__submit" value="Search" />
				</form>

				<!-- Result -->
				<div class="result" v-if="result">
					<a
						v-if="!isFavorite"
						href="#"
						class="result__toggle-favorite"
						@click="addFavorite"
					>
						Add Favorite ⭐️
					</a>
					<a
						v-else
						href="#"
						class="result__toggle-favorite"
						@click="removeFavorite"
					>
						Remove Favorite ⭐️
					</a>
					<h2 class="result__name">{{ result.name }}</h2>
					<img
						:src="result.avatar_url"
						:alt="result.name"
						class="result__avatar"
					/>
					<p class="result__bio">
						{{ result.bio }}
						<br />
						<br />
						<component
							:is="result.blog?'a':'span'"
							:href="result.blog || ''"
							target="_blank"
							style="color: white"
							>{{ result.blog ? result.blog : '(No tiene blog)'}}</component
						>
					</p>
				</div>

				<!-- Error -->
				<div class="result__error" v-if="error">{{ error }}</div>
			</article>
		</div>

		<script src="js/main.js"></script>
		<script>
			const mountedApp = app.mount('#app');
		</script>
	</body>
</html>
